
.ga-header {
  position:fixed;
  width:100%;
  z-index:1;
  nav {
    .navbar-brand{
      margin-left:2rem;
    }
    .navbar-burger{
      margin-top:1.5rem;
      margin-right:2rem;
    }
    .navbar-item{
      margin:0 0.2rem;
    }

    .navbar-end .field.is-grouped{
      justify-content: center;
    }
  }
}

.main{
  margin-top:5.7rem;
}