.ga-header {
  nav {
    padding: 1.2rem 0;
    width:100%;
    border-bottom: 1px solid #222;
    .navbar-item{
      margin:0 0.2rem;
    }
  }


}
.home-page{
  nav{
    position: absolute;
    background-color: transparent;
    a{
      color:white
    }
    .navbar-menu.is-active{
      background-color: black;
      opacity:0.7;
    }
  }
}