@import "../../styles/color";

.ga-header {
  position:fixed;
  width:100%;
  z-index:1;
  nav {
    background-color: $base-color;
    .navbar-brand{
      margin-left:2rem;
    }
    .navbar-burger{
      margin-top:1.5rem;
      margin-right:2rem;
    }
    .navbar-item{
      margin:0 0.2rem;
      text-transform: uppercase;
      font-weight:bold;
      a{
        color:#fff;
        &:hover{
          opacity: 0.7;
        }
      }

    }
    .navbar-menu.is-active{
      background-color: $base-color;
      text-align:center;
    }
    .navbar-end .field.is-grouped{
      justify-content: center;
    }
  }
}

.main{
  margin-top:5.7rem;
}