  .ga-header {
    .navbar {
      padding: 1.5rem 5rem;
    }
  }


.home-page {
  .ga-header {
    .navbar {
      background-color: transparent;
      position:absolute;
      width:100%;
    }
  }
}

