.ga-tournament-content{

  .ga-tournament-content-image {
    position:relative;
    .pegi img{
      position: absolute;
      bottom: 0;
      right:0;
    }
  }
  .tags{
    margin-top:0.5rem;
  }

}