.ga-footer{
 &.footer{
   padding-bottom:3rem;
   .ga-footer-links{
     a:after{
       content : ' - '
     }
     a:last-child:after{
       content: ''
     }

   }
   .ga-footer-social-networks-links{
     justify-content: center;
     display: flex;
   }
 }
}