$fa-font-path:   "/static/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

$family-sans-serif: "Lato", sans-serif;
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-ribbon/ribbon.sass";


.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}


body:after{
  content: "alpha";
  position: absolute;
  width: 80px;
  height: 25px;
  background: #EE8E4A;
  top: 7px;
  right: -20px;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  transform:rotate(45deg);
}
