.title-line {
  overflow: hidden;
  &>span {

    position: relative;
    &:before, &:after {

      content: '';
      position: absolute;
      top: 50%;
      border-bottom: 2px solid;
      width: 1337%;
      margin: 0 20px;
    }
    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    }
  }
}