.title-line {
  overflow: hidden;
  &>span {

    position: relative;
    &:before, &:after {

      content: '';
      position: absolute;
      top: 50%;
      border-bottom: 2px solid;
      width: 1337%;
      margin: 0 20px;
    }
    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    }
  }
}

.has-bg-star{
  background-size:cover;
  background: url('/static/img/bg-white-star.jpg') no-repeat fixed center center;
}

.has-bg-grey-area {
  background: url('/static/img/bg-grey-area.jpg') center center no-repeat;
  background-size: cover;
}

.has-cursor-pointer{
  cursor:pointer;
}

.image.is-150x150 {
  height: 150px;
  width: 150px;
}